<header>
    <div class="headLogo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSexExgB-jgWVzwi1m7JcT5QJd8rsMsQwnuRA&usqp=CAU" alt="logo">
    </div>
    <div class="headText">
      Welcome to home Page
    </div>
    <div class="headButton">
      <button [routerLink]=" '/login' ">Login</button>
    </div>
</header>
<div class="mainHome"> 
  <img src="https://img.freepik.com/free-vector/office-background-video-conferencing_23-2148641674.jpg?w=2000" alt="office set up">
</div>