header{
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgba(238, 199, 69, 0.815);
}
.headLogo{
    margin-left: 10px;
    width: 10vw;
    height: 2fr;
}
.headLogo img{
    width: 100%;
    height: 55px;
}

.headText{
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
}

.headButton{
    margin-right: 10px;
}
.headButton button{
    border: none;
    border-radius: 15px;
    background-color: coral;
    padding: 10px 15px;
    font-size: 12px;
}
.headButton button:hover{
    background-color: firebrick;
    color: antiquewhite;
}

.mainHome img{
    width: 100%;
    height: 90vh;
}